---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "style";

/* --------------------------------

Main Styles

-------------------------------- */
html {
  height: 100%;
  margin:0;
  padding:0;
}

body {
	background-color: $color-background;
	font-family: $font-sans;
	color: $color-main-text;
	@extend %transition-4;
	word-wrap: break-word;
  height: 100%;
	margin: 0;
	padding: $gutter;
}

.content {
   min-height:65%;
   margin-bottom: -80px;
}

.content:after {
  content: "";
  display: block;
}

.site-footer, .content:after {
  height: 80px;
}

.container {
	max-width: $screen-lg;
	margin: 0 auto;
}
