---
layout: default
---
<article class="post grid">
	<header class="grid__col grid__col--2-of-8">
		<h1 class="post__title">Visualization</h1>
	</header>
	<div class="grid__col grid__col--5-of-8">
		<article>
			<h1 class="publication__title">{{page.title}}</h1>
			<div id="visualization"></div>
	    <!--<script type="text/javascript" src="https://lionel-rigoux.github.io/visualizations/{{page.script}}"></script>-->
	    <script type="text/javascript" src="http://localhost:8080/dist/{{page.script}}"></script>
		</article>
	</div>
</article>
